<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Stokey | Chart Patterns </title>
	<link rel="icon" href="{{ url_for('static',filename='images/logo.png') }}" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">	 -->
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/flexslider.css') }}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

	<!-- Modernizr JS -->
	<script src="/static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="index.html">STOKEY<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="btn-cta"><a href="/"><span>Home</span></a></li>
							<li class="btn-cta"><a href="/dash"><span>Dashboard</span></a></li>
							<li class="btn-cta"><a href="/screener"><span>Screener</span></a></li>
							<li class="btn-cta"><a href="/contact"><span>Contact Us</span></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<div id="fh5co-about">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Pattern?</h2>
					<br><img src="{{ url_for('static',filename='images/stockmarket.png') }}" alt="Stock Market Illustration" width="480" height="270"><br>
					<p style="font-size:55%;">Source: Canva</p>
					<p style="text-align:left;">Hallo! Sebelumnya kalian udah tau belum Pattern Candlestick itu apa sih? Jadi, Pattern Candlestick adalah salah satu cara melihat potensi harga dalam trading untuk meningkatkan akurasi perhitungan. Dari Pattern ini kita dapat merefleksikan dampak sentimen investor terhadap harga saham loh!. Analisis yang dapat dilakukan biasanya digunakan untuk menentukan waktu yang tepat kapan masuk dan keluar dalam trading. Sehingga, para investor wajib memahami pattern ini untuk menjadi salah satu strategi cerdas dalam investasi.<br>
						<br>Gimana sih Cara Membaca Candlestick?<br>
						Sebelum kita mengetahui berbagai jenis Pattern Candlestick, kita terlebih dahulu paham cara membaca sebuah candlestick yang kita kutip dari <a href="https://lifepal.co.id/media/pola-candlestick-dalam-trading/" target="_blank">lifepal.co.id</a>.<br>
						<br><br><b>1. Posisi Harga</b>
						<br>Pada candlestick, terdapat empat indikator yaitu:
						<br>&bull; Open	: harga saat perdagangan dibuka
						<br>&bull; Low	: harga terendah hari ini
						<br>&bull; High	: harga tertinggi hari ini
						<br>&bull; Closed	: harga setelah perdagangan ditutup kemarin
						<br>Body candlestick juga menunjukkan seberapa jauh harga telah mengalami pergerakan selama durasi candle tersebut.

						<br><br><b>2. Warna Candlestick</b>
						<br>Kemudian untuk warna, terdapat dua warna yaitu merah dan hijau. 
						<br>&bull; Hijau	: Pattern dengan warna hijau menandakan harga open lebih tinggi daripada closed. Pattern ini disebut sebagai candlestick bullish. Pada saat pattern ini, candlestick akan bergerak ke atas loh!
						<br>&bull; Merah	: Pattern dengan warna merah menandakan harga open lebih rendah daripada closed. Pattern ini disebut sebagai candlestick bearish. Nah, pada pattern ini candlestick akan bergerak ke bawah.

						<br><br><b>3. Sumbu Candlestick</b>
						<br>Sementara itu, “sumbu” candlestick atau yang biasa dikenal sebagai shadow oleh sebagian orang, memiliki fungsi untuk menginformasikan fluktuasi harga yang bergerak sesuai dengan durasi candlestick. Perbandingan badan dan sumbu juga harus kalian perhatikan yah! Ketika nilai terlihat sumbu panjang yang mengarah ke bawah, hal ini menandakan pelaku pasar mendorong harga untuk turun, akan tetapi mereka gak cukup kuat untuk menahan harga tetap di posisi rendah. Di saat yang sama, pelaku pasar lain justru melakukan pembelian hingga akhirnya mendorong harga jadi naik. Fenomena ini kerap disebut bullish reversal. Begitu pun sebaliknya, ketika sumbu berada di atas, hal itu menandakan bahwa trader atau investor yang melakukan profit taking lebih banyak daripada yang memutuskan untuk hold. Hal ini menandai terjadinya bearish reversal.
						
						<br><br>Nah, setelah kita udah tau nih cara membaca candlestick, selanjutnya kita akan membahas mengenai jenis-jenis Pattern Candlestick berdasarkan <a href="https://www.foreximf.com/course/kelas-lanjutan/candlestick-pattern" target="_blank">foreximf.com</a>!
						<br><br>Apa Aja sih Jenis-Jenis Pattern Candlestick?
						<br><br>Dengan mengenali pattern-pattern tertentu yang terdapat dalam candlestick, kalian dapat memperkirakan arah pergerakan harga selanjutnya. Secara keseluruhan, ada 3 jenis kelompok dari pola candlestick yaitu:

						<br><br><b>1. Pattern Candlestick Single</b>
						<br>Pada pola candlestick single ini tidak ada pasangan dan biasanya terdiri dari satu ruas dan paling mudah untuk dilihat. Terdapat beberapa jenis pola lainnya pada candlestick single yang cukup sering digunakan oleh para trader dalam trading. Apa aja? Yuk kita simak lebih dalam lagi mengenai pola candlestick single ini!
						<br><br>&bull; Pola Spinning Top</p>
						<br><img src="{{ url_for('static',filename='images/spinning.png') }}" alt="Spinning Top Illustration" width="171.6" height="240"><br>
						<p style="font-size:55%;">Source: FOREXimf</p>
						<br><p style="text-align:left;">Ukuran body kecil namun shadow di atas dan di bawah memanjang. Hal ini menandakan adanya ketidakpastian antara para pelaku pasar. Jika muncul saat uptrend, maka ada banyak pelaku pasar yang melakukan aksi ambil untung, begitu pun sebaliknya.

						<br><br>&bull; Pola Marubozu</p>
						<br><img src="{{ url_for('static',filename='images/marubozu.png') }}" alt="Marubozu Illustration" width="250" height="200"><br>
						<p style="font-size:55%;">Source: FOREXimf</p>
						<p style="text-align:left;">Pada pola ini, candlestick tidak mempunyai sumbu atau shadow. Marubozu menandakan sinyal pergerakan kuat dari sisi pelaku pasar yang ingin membeli maupun menjual.

						<br><br>&bull; Pola Doji</p>
						<br><img src="{{ url_for('static',filename='images/doji.png') }}" alt="Doji Illustration" width="360" height="127.2"><br>
						<p style="font-size:55%;">Source: FOREXimf</p>
						<br><p style="text-align:left;">Hampir mirip dengan pola candlestick spinning top, akan tetapi sedikit lebih kompleks. Perbedaanya yaitu doji hampir terlihat tidak memiliki badan, dan ini menandakan fenomena ketidakmampuan para pelaku pasar baik yang membeli atau menjual dalam memegang kendali. Bisa dikatakan, Doji adalah pola di mana harga sebuah komoditas atau saham sedang mengalami konsolidasi. Di sini pelaku pasar diharap melakukan wait and see, dan mencermati candlestick di hari hari berikutnya.

						<br><br>&bull; Pola Hammer dan Hanging Man</p>
						<br><img src="{{ url_for('static',filename='images/hammerhanging.png') }}" alt="Hammer Hanging Illustration" width="232" height="272"><br>
						<p style="font-size:55%;">Source: FOREXimf</p>
						<br><p style="text-align:left;">Pola candlestick hammer dan hanging man ini memiliki body kecil dan sumbu panjang ke bawah. Pola hammer menandakan sebuah sinyal bullish di saat pasar bearish (pembalikan harga dari turun menjadi naik). Namun, jika pola hanging man muncul saat uptrend, patut diketahui lho akurasi dari hanging man ini rendah.

						<br><br>&bull; Pola Inverted Hammer dan Shooting Star</p>
						<br><img src="{{ url_for('static',filename='images/inverted.png') }}" alt="Inverted Hammer & Shooting Star Illustration" width="232" height="260"><br>
						<p style="font-size:55%;">Source: FOREXimf</p>
						<br><p style="text-align:left;">Pola candlestick inverted hammer dan shooting star ini memiliki body kecil dan sumbu panjang ke atas. Pola inverted hammer terjadi saat downtrend dan jika melihat sumbunya, tentu saja ini menjadi sinyal bullish karena pelaku pasar melakukan pembelian namun ada tekanan besar pula dari yang melakukan profit taking. Kemudian, pola shooting star terjadi saat uptrend oleh karena itu pola ini disamakan dengan bintang jatuh. Pola shooting star ini bisa jadi tanda-tanda harga saham memasuki fase downtrend lho!

						
						<br><br><b>2. Pola Candlestick Double</b>
						<br>Usai mengetahui cara membaca pola candlestick single, sekarang kita akan melihat yang double yukk!. Jadi, kamu harus melihat penampakan candlestick berikut yang ada di sebelah kanan sebelum mengambil kesimpulan akan pergerakannya. 
						<br><br>&bull; Pola Engulfing Pattern</p>
						<br><img src="{{ url_for('static',filename='images/engulfing.png') }}" alt="Engulfing Illustration" width="252" height="157"><br>
						<p style="font-size:55%;">Source: FOREXimf</p>
						<br><p style="text-align:left;">Terdapat dua jenis : Bullish engulfing dan bearish engulfing menunjukkan fenomena di mana akan terjadi uptrend atau sebaliknya. Hal itu ditunjukkan dari candlestick bearish di sebelah kiri yang memiliki body lebih kecil ketimbang bullish candle di sebelah kanan. Candlestick ini menunjukkan bahwa para pelaku pasar mulai masuk dan melakukan pembelian. Jika bullish candle di sebelah kiri dan bearish terlihat memiliki body yang lebih besar di sebelah kanan, maka ini adalah indikasi terjadinya downtrend.

						<br><br>&bull; Pola Harami</p>
						<br><img src="{{ url_for('static',filename='images/harami.png') }}" alt="Harami Illustration" width="252" height="147"><br>
						<p style="font-size:55%;">Source: FOREXimf</p>
						<br><p style="text-align:left;">Dalam pola ini, candlestick sebelah kiri memiliki body yang lebih besar ketimbang yang kanan. Candlestick sebelah kanan yang lebih kecil menandakan bahwa, tren akan segera berubah.
						<br>Semakin kecil candlestick di sebelah kiri, maka makin kuat pula potensi perubahan trennya.

						
						<br><br><b>3. Pola Candlestick Triple</b>
						<br>Nah, gimana nih, udah paham kan mengenai pola double? Jika yang pola double sudah paham, kita bahas pola triple yuk!. Konon kabarnya, analisis pola candlestick triple ini lebih akurat dan lebih sering digunakan oleh trader untuk membaca tren.
						<br><br>&bull; Tristar Pattern</p>
						<br><img src="{{ url_for('static',filename='images/morning.png') }}" alt="Morning & Evening Star Illustration" width="252" height="147"><br>
						<p style="font-size:55%;">Source: FOREXimf</p>
						<br><p style="text-align:left;">Terdapat dua jenis : Morning Star dan Evening Star. Nah, dalam pola ini akan muncul doji di bagian tengah. Seperti yang dijelaskan di atas, doji itu menandakan adanya fase konsolidasi dari sebuah harga saham atau komoditas. Tapi seandainya bukan doji, small atau long candle juga bisa.
						<br>Pola morning star memiliki susunan: bearish candle – doji atau small bullish candle – bullish candle. Pola ini terjadi saat downtrend, dan menandakan bahwa ini adalah waktu tepat untuk melakukan pembelian karena ada tanda-tanda naik.
						<br>Sementara itu pada evening star, susunannya adalah: bullish candle – doji atau small bearish candle – bearish candle. Ini tentu menjadi sinyal kuat untuk “sell” alias jual. 

						
						<br><br>Gimana guys? Udah paham kan mengenai pattern candlestick? I hope so!! Meskipun cukup melelahkan untuk mempelajari grafik ini, tapi itu semua akan sangat bermanfaat saat Anda melakukan transaksi dalam trading. Semangat!!!


						</p>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-started">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Contact Us!</h2>
					<p>Please get in touch and our support team will answer all of your questions.</p>
					<p><a href="/contact" class="btn btn-default btn-lg">Contact Us</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-6 fh5co-widget">
					<h4><b>Stokey</b></h4>
					<p>Stokey is a web application (WebApp) containing an interactive dashboard that visualizes real time stock data as well as a screener to detect Indonesian stock chart patterns. Stokey aims to help investors understand stock chart and select potential stocks that match the investor's criteria.</p>
				</div>
				<div class="col-md-2 col-md-push-1 fh5co-widget">
					<h4><b>Links</b></h4>
					<ul class="fh5co-footer-links">
						<li><a href="/">Home</a></li>
						<li><a href="/dash">Dashboard</a></li>
						<li><a href="/screener">Screener</a></li>
						<li><a href="/contact">Contact Us</a></li>
					</ul>
				</div>


				<div class="col-md-4 col-md-push-1 fh5co-widget">
					<h4><b>Contact Information</b></h4>
					<ul class="fh5co-footer-links">
						<li>Gedung Kuliah Bersama, Kampus C
							<br>Universitas Airlangga
							<br>Jl. Dr. Ir. H. Soekarno
							<br>Kota Surabaya, Jawa Timur 60115</li>
						<li><a href="tel://+62 858-8203-4614">+62 858-8203-4614</a></li>
						<li><a href="mailto:greivavndr@gmail.com">greivavndr@gmail.com</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="/static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/static/js/jquery.flexslider-min.js"></script>
	<!-- Main -->
	<script src="/static/js/main.js"></script>

	</body>
</html>

