<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Stokey | Tips mulai trading saham</title>
	<link rel="icon" href="{{ url_for('static',filename='images/logo.png') }}" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">	 -->
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/flexslider.css') }}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

	<!-- Modernizr JS -->
	<script src="/static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="index.html">STOKEY<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="btn-cta"><a href="/"><span>Home</span></a></li>
							<li class="btn-cta"><a href="/dash"><span>Dashboard</span></a></li>
							<li class="btn-cta"><a href="/screener"><span>Screener</span></a></li>
							<li class="btn-cta"><a href="/contact"><span>Contact Us</span></a></li>
							</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<div id="fh5co-portfolio">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Stock?</h2>
					<img src="{{ url_for('static',filename='images/stock.png') }}" alt="Stock Illustration" width="300" height="300">					
					<p style="font-size:55%;">Source: PNGTREE</p>
					<p style="text-align:center;">Saham merupakan salah satu media investasi yang banyak diminati, tak terkecuali generasi millennial. Saham selalu menjadi topik perbincangan hangat, sebab mulai banyak orang yang menyadari potensi keuntungan yang bisa didapat dari bermain saham.<br>
						<br> Melansir <a href="https://www.idx.co.id/produk/saham/" target="_blank">idx.co.id</a>, saham adalah tanda penyertaan modal seseorang atau suatu pihak dalam suatu perusahaan atau perseroan terbatas. Dengan menyertakan modal tersebut, pihak pemilik saham memiliki klaim atas pendapatan perusahaan, klaim atas aset perusahaan, dan berhak hadir dalam Rapat Umum Pemegang Saham (RUPS).<br>
						<br> Saham menjadi salah satu investasi yang tepat bagi kamu yang tertarik berinvestasi jangka panjang maupun jangka pendek. Nah, sebelum memulai berinvestasi saham, ada baiknya kamu belajar bagaimana cara investasi saham dengan baik dan benar. Berikut 7(+1) hal yang harus kamu ketahui sebelum memulai berinvestasi saham yang kami himpun dari qoala.app!<br></p>

						<br> <b>1. Alokasikan Waktu untuk Belajar</b><br>
						<img src="{{ url_for('static',filename='images/study.png') }}" alt="Study Illustration" width="382.8" height="270"><br>
						<p style="font-size:55%;">Source: PNGITEM</p>
						<br>Mempelajari suatu hal sebelum memulainya adalah sebuah pilihan yang tepat dan bijak, tak terkecuali saham. Langkah pertama yang harus anda lakukan sebelum memulai berinvestasi saham adalah mempelajari tentang saham hingga ke crack dan crevassenya! Kalian harus mempelajari dasar-dasar investasi saham, memahami istilah-istilah yang kerap digunakan di dunia saham, hingga mengasah kemampuan menggunakan berbagai media yang tersedia sekarang ini. Selain itu, alangkah baiknya kamu juga mempelajari tentang chart saham dan bagaimana cara membacanya. Nah, ISPS sudah memiliki blog tempat kamu bisa belajar tentang berbagai chart saham loh! Kamu bisa membaca blog tersebut di <a href="/pattern" target="_blank">sini</a>.<br>
						
						<br> <b>2. Pilih Sekuritas yang Tepat</b><br><br>
						<img src="{{ url_for('static',filename='images/stockbroker.png') }}" alt="Stock Broker Illustration" width="182.4" height="299.1"><br>
						<p style="font-size:55%;">Source: CLEANPNG</p>
						Setelah menguasai dasar-dasar investasi saham, selanjutnya adalah mempelajari sekuritas atau broker saham. Sekuritas itu apa sih? Melansir <a href="https://www.cermati.com/artikel/10-sekuritas-terbaik-di-indonesia-untuk-investasi-saham" target="_blank">cermati.com</a>, sekuritas adalah perusahaan yang telah mendapatkan izin dari Otoritas Jasa Keuangan (OJK) untuk melakukan kegiatan usaha sebagai Perantara Pedagang Efek (broker-dealer), Penjamin Emisi Efek (underwriter), atau lainnya sesuai dengan ketentuan yang telah ditetapkan. Simpelnya, sekuritas adalah perantara yang bisa mempermudah kamu dalam membeli saham. Ada banyak sekuritas di Indonesia, yang menjadi tantangan adalah memilih sekuritas yang tepat. Pilihlah sekuritas yang tepat sesuai dengan budget yang kamu miliki, tapi yang terpenting pilihlah sekuritas dengan track record yang baik. <br>
						
						<br> <b>3. Pahami Indeks Saham</b><br>
						<img src="{{ url_for('static',filename='images/chart.png') }}" alt="Stock Chart Illustration" width="291.55" height="291.5"><br>
						<p style="font-size:55%;">Source: CLEANPNG</p>
						PT. Bursa Efek Indonesia (BEI) memiliki 35 indeks saham berbeda. Indeks saham adalah statistik yang menunjukkan pergerakan saham yang dipilih berdasarkan metode dan kriteria tertentu yang dievaluasi secara berkala. Indeks saham ini bertujuan untuk mengukur sentimen pasar serta sebagai benchmark portofolio aktif. Psssttt, buat kamu yang pemula dan ingin bermain saham dengan resiko yang kecil bisa coba saham yang terkumpul di indeks LQ45 dan IDX30. <br>
						
						<br> <b>4. Kenali Perusahaan dan Industrinya</b><br><br>
						<img src="{{ url_for('static',filename='images/industry.png') }}" alt="Industry Illustration" width="291.55" height="209.08"><br>
						<p style="font-size:55%;">Source: PNGITEM</p>
						<br>Saat membeli smartphone, tentu kita ingin mendapatkan smartphone terbaik. Untuk mencari smartphone yang tepat untuk kita, umumnya kita mencari di brand smartphone yang memang sudah terkenal dan kita sudah paham seluk-beluk brand ini. Sama halnya dengan membeli saham, kita harus paham latar belakang dan sepak terjang perusahaan terkait hingga saat ini. Bagaimana kondisi keuangan perusahaan tersebut? Beberapa tahun terakhir apakah perusahaan tersebut profit? Kamu harus bisa menjawab pertanyaan tersebut tersebut sebelum memutuskan membeli sahamnya. Selain itu, alangkah baiknya kamu juga memahami posisi perusahaan tersebut yang berkaitan dengan sisi sosial dan politiknya. <br>
						
						<br> <b>5. Mulai Perhatikan Kondisi Ekonomi dan Politik</b><br><br>
						<img src="{{ url_for('static',filename='images/ecopol.png') }}" alt="Economy & Politics Illustration" width="228.6" height="230.7"><br>
						<p style="font-size:55%;">Source: PNGITEM</p>
						<br>Selalu perhatikan kondisi ekonomi dan juga bagaimana posisi perusahaan tersebut dari sisi politik. Kedua faktor ini seringkali menjadi penyebab harga saham perusahaan terkait yang fluktuatif. Menganalisis faktor ekonomi dan sosial merupakan sebuah tantangan tersendiri. Kamu harus peka terhadap kedua isu ini agar dapat mengambil keputusan yang paling berpotensi.  <br>
						
						<br> <b>6. Manfaatkan Saham dengan PER Rendah</b><br>
						<img src="{{ url_for('static',filename='images/per.png') }}" alt="Price to Earning Ratio Illustration" width="307.2" height="157.8"><br>
						<p style="font-size:55%;">Source: EDUBCA</p>
						Price to Earning Ratio (PER) adalah alat perhitungan harga saham suatu perusahaan dibandingkan dengan keuntungan tahunan perusahaan. Saham dengan PER yang rendah berarti saham tersebut sedang murah. Maka, saham dengan PER rendah ini cocok sekali untuk pemula yang baru mau memulai berinvestasi saham. <br>
						
						<br> <b>7. Jangan Menyerah!</b><br>
						<br><img src="{{ url_for('static',filename='images/tough.png') }}" alt="Never Give Up Illustration" width="172.1" height="257.8"><br><br>
						<p style="font-size:55%;">Source: PNGWING</p>
						Ada banyak faktor yang mempengaruhi keberhasilan seseorang dalam berinvestasi. Satu yang pasti, tidak mudah menyerah harus menjadi karakter seorang investor. Konsistensi belajar, kesabaran, optimis, pantang menyerah, dan tidak takut mengambil resiko akan memahat dirimu menjadi seorang investor yang lebih baik. So, jangan takut gagal dan jangan mudah menyerah. Good luck guys!</p>
				</div>
			</div>

			<div id="fh5co-blog">
				<div class="container">
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
							<h2>Rekomendasi Sekuritas</h2>
							<p>Berikut merupakan 3 rekomendasi sekuritas terbaik di Indonesia menurut <a href="https://www.idxchannel.com/market-news/indopremier-hingga-mnc-sekuritas-jadi-perusahaan-sekuritas-terbaik-lho" target="_blank">idx.com</a></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="fh5co-blog animate-box">
								<a href="https://www.indopremier.com/ipotstock/" class="blog-bg" target="_blank">
									<img src="{{ url_for('static',filename='images/ipot.png') }}" style="height: 355px;" alt="">
								</a>
								<div class="blog-text">
									<h3><a href="#">IndoPremier</a></h3>
									<p>Sekuritas swasta terbesar di Indonesia yang setiap tahun mampu menghimpun dana mencapai Rp 200 triliun dengan rata-rata frekuensi transaksi 190. Tahun 2007 Indo Premier dinyatakan sebagai Exchange Traded Fund pertama di Indonesia. Indo Premier juga satu-satunya perusahaam efek dan aset manajemen yang meluncurkan produk EFT saham di pasar modal Indonesia.</p>
									<ul class="stuff">
										<li><a href="https://www.indopremier.com/ipotstock/" target="_blank">Visit IndoPremier<i class="icon-arrow-right22"></i></a></li>
									</ul>
								</div> 
							</div>
						</div>
						<div class="col-md-4">
							<div class="fh5co-blog animate-box">
								<a href="https://join.most.co.id" class="blog-bg" target="_blank">
									<img src="{{ url_for('static',filename='images/mandiri.png') }}" style="height: 355px;" alt="">
								</a>
								<div class="blog-text">
									<h3><a href="#">Mandiri Sekuritas</a></h3>
									<p>Mandiri Sekuritas merupakan gabungan usaha dari PT BDS, PT ES, dan PT MSI. Sekuritas ini merupakan salah satu invesment bank terkemuka dan lokal terbaik. Kemudian, Bank Mandiri sendiri merupakan salah satu bank terbesar di Indonesia yang memiliki kurang lebih 11 anak perusahaan.</p>
									<ul class="stuff">
										<li><a href="https://join.most.co.id" target="_blank">Visit Mandiri Sekuritas<i class="icon-arrow-right22"></i></a></li>
									</ul>
								</div> 
							</div>
						</div>
						<div class="col-md-4">
							<div class="fh5co-blog animate-box">
								<a href="https://open.miraeasset.co.id/id" class="blog-bg"  target="_blank">
								<img src="{{ url_for('static',filename='images/mirae.jpg') }}" style="height: 355px;" alt=""></a>
								<div class="blog-text">
									<h3><a href="#">Mirae Asset</a></h3>
									<p>Merupakan bagian dari bisnis global Mirae Asset Daewoon Group yang saat ini memiliki 25 Office Education. Mirae Asset ini memiliki total aset sebesar Rp 2179.17 dan Rp 6370.96 untuk total aset klien. Mirae Asset juga memiliki global expansion kurang lebih 13 negara.</p>
									<ul class="stuff">
										<li><a href="https://open.miraeasset.co.id/id" target="_blank">Visit Mirae Asset<i class="icon-arrow-right22"></i></a></li>
									</ul>
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
			
	</div>
	<div id="fh5co-started">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Contact Us!</h2>
					<p>Please get in touch and our support team will answer all of your questions.</p>
					<p><a href="/contact" class="btn btn-default btn-lg">Contact Us</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-6 fh5co-widget">
					<h4><b>Stokey</b></h4>
					<p>Stokey is a web application (WebApp) containing an interactive dashboard that visualizes real time stock data as well as a screener to detect Indonesian stock chart patterns. Stokey aims to help investors understand stock chart and select potential stocks that match the investor's criteria.</p>
				</div>
				<div class="col-md-2 col-md-push-1 fh5co-widget">
					<h4><b>Links</b></h4>
					<ul class="fh5co-footer-links">
						<li><a href="/">Home</a></li>
						<li><a href="/dash">Dashboard</a></li>
						<li><a href="/screener">Screener</a></li>
						<li><a href="/contact">Contact Us</a></li>
					</ul>
				</div>


				<div class="col-md-4 col-md-push-1 fh5co-widget">
					<h4><b>Contact Information</b></h4>
					<ul class="fh5co-footer-links">
						<li>Gedung Kuliah Bersama, Kampus C
							<br>Universitas Airlangga
							<br>Jl. Dr. Ir. H. Soekarno
							<br>Kota Surabaya, Jawa Timur 60115</li>
						<li><a href="tel://+62 858-8203-4614">+62 858-8203-4614</a></li>
						<li><a href="mailto:greivavndr@gmail.com">greivavndr@gmail.com</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
			</div>

		</div>
	</footer>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	</div>
	
	<!-- jQuery -->
	<script src="/static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/static/js/jquery.flexslider-min.js"></script>
	<!-- Main -->
	<script src="/static/js/main.js"></script>

	</body>
</html>

